<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.leo.gradle">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--设置leo为KEY的值-->
        <meta-data android:name="leo-key" android:value="niubao-aaa"/>
        <!--leo为KEY，leo-value 在gradle中manifestPlaceholdes配置-->
        <meta-data android:name="leo" android:value="${leo-value}"/>

        <activity android:name="com.leo.gradle.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>